<settings>
    <setting id="pvr.disableepgeventiconfanart" type="bool">false</setting>
    <setting id="ratings.enablerottentomatoescritic.tvshows" type="bool">false</setting>
    <setting id="indicator.disablewatched" type="bool">false</setting>
    <setting id="ratings.enablerottentomatoesuser.tvshows" type="bool">false</setting>
    <setting id="info.disablestudio" type="bool">false</setting>
    <setting id="debuggrid" type="bool">false</setting>
    <setting id="info.disableyear" type="bool">false</setting>
    <setting id="view_558.mediainfo" type="bool">false</setting>
    <setting id="info.disableupnext" type="bool">false</setting>
    <setting id="info.disablefanart" type="bool">false</setting>
    <setting id="widgets.disableexpandedbackground" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="blurenabled" type="bool">false</setting>
    <setting id="skinhelper.enablemusicart" type="bool">false</setting>
    <setting id="skinhelper.enableextrafanart" type="bool">false</setting>
    <setting id="info.disablerecommendations" type="bool">false</setting>
    <setting id="infoline.enableendtime" type="bool">true</setting>
    <setting id="views.disablebiglandscapetext" type="bool">false</setting>
    <setting id="osd.alwaysdisplaystop" type="bool">false</setting>
    <setting id="tmdbhelper.disablepvr" type="bool">false</setting>
    <setting id="info.disabledirector" type="bool">false</setting>
    <setting id="ratings.enableuserrating" type="bool">false</setting>
    <setting id="uselightfont" type="bool">false</setting>
    <setting id="infoline.disablempaa" type="bool">false</setting>
    <setting id="home.iconicmenu" type="bool">false</setting>
    <setting id="skinhelper.enableextraposter" type="bool">false</setting>
    <setting id="codecs.disablemediacodecicons" type="bool">false</setting>
    <setting id="home.textmenu" type="bool">false</setting>
    <setting id="keyboard.disableautocompletion" type="bool">false</setting>
    <setting id="ratings.disabletmdb" type="bool">false</setting>
    <setting id="kioskmode.management" type="bool">false</setting>
    <setting id="widgets.expandedfooter" type="bool">true</setting>
    <setting id="skinhelper.enabledaynightthemes" type="bool">false</setting>
    <setting id="skinhelper.enablewallbackgrounds" type="bool">false</setting>
    <setting id="info.disablewriter" type="bool">false</setting>
    <setting id="furniture.disableleftheader" type="bool">false</setting>
    <setting id="home.disablesearchmenu" type="bool">false</setting>
    <setting id="indicator.ratings" type="bool">true</setting>
    <setting id="ratings.disabletrakt.tvshows" type="bool">false</setting>
    <setting id="indicator.disablecollection" type="bool">false</setting>
    <setting id="debuginfo" type="bool">false</setting>
    <setting id="disableimdbrating" type="bool">false</setting>
    <setting id="usebackgroundvideo" type="bool">false</setting>
    <setting id="tmdbhelper.disablepersonstats" type="bool">false</setting>
    <setting id="info.disablesimilar" type="bool">false</setting>
    <setting id="recommendations.expandplot" type="bool">true</setting>
    <setting id="osd.disablepopupdialogs" type="bool">false</setting>
    <setting id="smartshortcuts.favorites" type="bool">false</setting>
    <setting id="home.verticalmenu" type="bool">false</setting>
    <setting id="tmdbhelper.disableratings" type="bool">false</setting>
    <setting id="ratings.disablemovierelease" type="bool">false</setting>
    <setting id="background.extrafanart" type="bool">false</setting>
    <setting id="smartshortcuts.plex" type="bool">false</setting>
    <setting id="TMDbHelper.UseLocalWidgetContainer" type="bool">true</setting>
    <setting id="enablemonochromehighlight" type="bool">false</setting>
    <setting id="info.disablekeywords" type="bool">false</setting>
    <setting id="info.disablecast" type="bool">false</setting>
    <setting id="ratings.disablemetacritic" type="bool">false</setting>
    <setting id="home.cleanwidgets" type="bool">false</setting>
    <setting id="recommendations.aggregatetvcast" type="bool">true</setting>
    <setting id="skinshortcuts-widget-Addon" type="bool">true</setting>
    <setting id="skinhelper.forcedviews.enabled" type="bool">false</setting>
    <setting id="tmdbhelper.forcewidgetcontainer" type="bool">false</setting>
    <setting id="home.showprofileimage" type="bool">false</setting>
    <setting id="indicator.disablepvrguidecatchup" type="bool">false</setting>
    <setting id="ratings.disabletmdb.tvshows" type="bool">false</setting>
    <setting id="info.disableseasons" type="bool">false</setting>
    <setting id="codecs.usetextlabels" type="bool">true</setting>
    <setting id="info.disableyoutube" type="bool">false</setting>
    <setting id="info.disablereviews" type="bool">false</setting>
    <setting id="tmdbhelper.enablecolors" type="bool">false</setting>
    <setting id="widgets.expandedheader" type="bool">true</setting>
    <setting id="indicator.disableepisodes" type="bool">false</setting>
    <setting id="ratings.disabletvrelease" type="bool">false</setting>
    <setting id="ratings.disablerottentomatoescritic" type="bool">false</setting>
    <setting id="info.disablecrew" type="bool">false</setting>
    <setting id="ratings.enableletterboxd" type="bool">false</setting>
    <setting id="furniture.disableleftfooter" type="bool">false</setting>
    <setting id="dialoginfo.focusbuttons" type="bool">true</setting>
    <setting id="background.narrowplot" type="bool">false</setting>
    <setting id="labels.autoscroll" type="bool">false</setting>
    <setting id="ratings.disableimdbtop250" type="bool">false</setting>
    <setting id="views.disablebigposterrowautoinfo" type="bool">false</setting>
    <setting id="titles.enablewrapping" type="bool">true</setting>
    <setting id="info.disablegenre" type="bool">false</setting>
    <setting id="osd.disablepauseoninfo" type="bool">false</setting>
    <setting id="recommendations.uselocal" type="bool">false</setting>
    <setting id="tmdbhelper.enableblur" type="bool">true</setting>
    <setting id="info.disableposters" type="bool">false</setting>
    <setting id="widgets.fullscreencontext" type="bool">false</setting>
    <setting id="skinhelper.enablepvrthumbs" type="bool">false</setting>
    <setting id="furniture.disablerightfooter" type="bool">false</setting>
    <setting id="osd.autohideonpause" type="bool">true</setting>
    <setting id="codecs.usefilenameinfo" type="bool">true</setting>
    <setting id="hubs.disablequickswitch" type="bool">false</setting>
    <setting id="indicator.disableprogress" type="bool">false</setting>
    <setting id="touchmode" type="bool">false</setting>
    <setting id="indicator.disablelatest" type="bool">false</setting>
    <setting id="invertselectedtext" type="bool">false</setting>
    <setting id="infoline.enabledirector" type="bool">true</setting>
    <setting id="codecs.disableaudiolanguageflags" type="bool">false</setting>
    <setting id="codecs.disablesubtitlelanguageflags" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Weather" type="bool">true</setting>
    <setting id="ratings.disableoscar" type="bool">false</setting>
    <setting id="tmdbhelper.enabledesaturate" type="bool">false</setting>
    <setting id="TMDbHelper.DisableArtwork" type="bool">false</setting>
    <setting id="glass.borderoutline" type="bool">true</setting>
    <setting id="indicator.disablelibrary" type="bool">false</setting>
    <setting id="smartshortcuts.emby" type="bool">false</setting>
    <setting id="tmdbhelper.enablecrop" type="bool">true</setting>
    <setting id="ratings.autohide" type="bool">false</setting>
    <setting id="widgets.opaquefocus" type="bool">true</setting>
    <setting id="ratings.disabletrakt" type="bool">false</setting>
    <setting id="infoline.enablegenre" type="bool">true</setting>
    <setting id="pvr.invertprogresscolor" type="bool">true</setting>
    <setting id="startup.plugininit" type="bool">false</setting>
    <setting id="ratings.hideall" type="bool">false</setting>
    <setting id="ratings.disablestarrating" type="bool">false</setting>
    <setting id="skinshortcuts-widget-RandomTvShows" type="bool">true</setting>
    <setting id="codecs.disablemediaprovidericons" type="bool">false</setting>
    <setting id="ratings.disablerottentomatoesuser" type="bool">false</setting>
    <setting id="ratings.disableimdb" type="bool">false</setting>
    <setting id="recommendations.aggregatetvcrew" type="bool">true</setting>
    <setting id="view_557.mediainfo" type="bool">false</setting>
    <setting id="ratings.disableimdb.tvshows" type="bool">false</setting>
    <setting id="selectbox.glow" type="bool">true</setting>
    <setting id="selectbox.thin" type="bool">true</setting>
    <setting id="info.disablecollections" type="bool">false</setting>
    <setting id="disablealphabetscrollbar" type="bool">false</setting>
    <setting id="enableartworkdownloader" type="bool">false</setting>
    <setting id="TMDbHelper.Service" type="bool">true</setting>
    <setting id="furniture.disablerightheader" type="bool">false</setting>
    <setting id="home.enableshowmorewidget" type="bool">true</setting>
    <setting id="furniture.useminimalclock" type="bool">false</setting>
    <setting id="autolibrarytags" type="bool">false</setting>
    <setting id="clearplaylist" type="bool">false</setting>
    <setting id="skinshortcuts-widget-RandomMovies" type="bool">true</setting>
    <setting id="ratings.enablemetacritic.tvshows" type="bool">false</setting>
    <setting id="kioskmode.viewtypes" type="bool">false</setting>
    <setting id="skinhelper.enableextendedart" type="bool">false</setting>
    <setting id="skinhelper.disablescreensaveronfullscreenmusic" type="bool">false</setting>
    <setting id="widgets.disablesimplebackground" type="bool">true</setting>
    <setting id="skinhelper.enableanimatedposters" type="bool">false</setting>
    <setting id="disablelandscapeart" type="bool">false</setting>
    <setting id="videoinfo.fullscreentrailer" type="bool">false</setting>
    <setting id="smartshortcuts.playlists" type="bool">false</setting>
    <setting id="textboxes.disableautoscroll" type="bool">false</setting>
    <setting id="info.enablesimplebackground" type="bool">false</setting>
    <setting id="menuOnUpAction-series" type="string"></setting>
    <setting id="widgetEndRowAction-seriestv" type="string"></setting>
    <setting id="widgetEndRowAction-kidsfilms" type="string"></setting>
    <setting id="widgetEndRowAction-animes" type="string">ActivateWindow(1132)</setting>
    <setting id="widgetEndRowAction-livetv" type="string">ActivateWindow(1132)</setting>
    <setting id="widgetEndRowAction-tvshows" type="string">ActivateWindow(1121)</setting>
    <setting id="skinhelper.autoclosemusicosd" type="string"></setting>
    <setting id="watchedprogresscolor.name" type="string"></setting>
    <setting id="foregroundstyle" type="string">FlixArt</setting>
    <setting id="widgetEndRowAction-mesfilms-strm-local" type="string">ActivateWindow(1130)</setting>
    <setting id="rows.ondown" type="string"></setting>
    <setting id="BlurContainer" type="string"></setting>
    <setting id="skinhelper.colortheme.day.time" type="string"></setting>
    <setting id="widgetEndRowAction-aucun" type="string">ActivateWindow(1132)</setting>
    <setting id="gradientcolor.name" type="string"></setting>
    <setting id="widgetEndRowAction-films" type="string"></setting>
    <setting id="pvr.onback" type="string"></setting>
    <setting id="ServiceInterval" type="string"></setting>
    <setting id="SkinHelper.RandomFanartDelay" type="string"></setting>
    <setting id="widgetEndRowAction-kidsseriestv" type="string"></setting>
    <setting id="skinshortcuts-widget-2" type="string">Addon</setting>
    <setting id="script-skinviewtypes-checksum" type="string">8d87d69143dc991a7cbee44593ca2449</setting>
    <setting id="skinhelper.colortheme.night.time" type="string"></setting>
    <setting id="menuOnUpAction-movies" type="string"></setting>
    <setting id="menuOnUpAction-films" type="string"></setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="menuOnUpAction-animes" type="string"></setting>
    <setting id="customgenreiconlocation" type="string"></setting>
    <setting id="menuOnUpAction-seriestv" type="string"></setting>
    <setting id="TMDbHelper.Date.Format" type="string"></setting>
    <setting id="menuOnUpAction-kidsseriestv" type="string"></setting>
    <setting id="widgetEndRowAction-31085" type="string"></setting>
    <setting id="widgetEndRowAction-music" type="string">ActivateWindow(1132)</setting>
    <setting id="menuOnUpAction-seriestv-strm-local" type="string">ActivateWindow(1121)</setting>
    <setting id="menuOnUpAction-videos" type="string"></setting>
    <setting id="widgetEndRowAction-seriestv-strm-local" type="string">ActivateWindow(1131)</setting>
    <setting id="menuOnUpAction-livetv" type="string"></setting>
    <setting id="backgroundstyle" type="string">Blur</setting>
    <setting id="BlurSaturation" type="string"></setting>
    <setting id="home.menuposition" type="string"></setting>
    <setting id="menuOnUpAction-u2pplay-skodi" type="string">ActivateWindow(1132)</setting>
    <setting id="skinshortcuts-widget-3" type="string">Addon</setting>
    <setting id="widgetEndRowAction-videos" type="string">ActivateWindow(1132)</setting>
    <setting id="widgetEndRowAction-u2pplay-skodi--0" type="string"></setting>
    <setting id="menuOnUpAction-weather" type="string"></setting>
    <setting id="menuOnUpAction-music" type="string"></setting>
    <setting id="menuOnUpAction-tvshows" type="string"></setting>
    <setting id="widgetEndRowAction-movies" type="string">ActivateWindow(1120)</setting>
    <setting id="menuOnUpAction-tvshows--0" type="string"></setting>
    <setting id="menuOnUpAction-mesfilms-strm-local" type="string">ActivateWindow(1120)</setting>
    <setting id="autoscrolltime" type="string">15s</setting>
    <setting id="TMDbHelper.Blur.Radius" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="widgetEndRowAction-plugin.video.sendtokodiU2P" type="string"></setting>
    <setting id="background.image" type="string"></setting>
    <setting id="menuOnUpAction-accueil" type="string"></setting>
    <setting id="menuOnUpAction-u2pplay-skodi--0" type="string"></setting>
    <setting id="BlurRadius" type="string"></setting>
    <setting id="focuscolor.name" type="string"></setting>
    <setting id="skinshortcuts-widget-5" type="string">Addon</setting>
    <setting id="TMDbHelper.MonitorContainer" type="string">99950</setting>
    <setting id="menuOnUpAction-kidsfilms" type="string"></setting>
    <setting id="menuOnUpAction-anime" type="string"></setting>
    <setting id="widgetEndRowAction-anime" type="string"></setting>
    <setting id="widgetEndRowAction-tvshows--0" type="string"></setting>
    <setting id="skinshortcuts-widget-4" type="string">Addon</setting>
    <setting id="skinhelper.autoclosevideoosd" type="string"></setting>
    <setting id="widgetEndRowAction-series" type="string"></setting>
    <setting id="BackgroundInterval" type="string"></setting>
    <setting id="TMDbHelper.AutoUpdate.LastTime" type="string">2023-03-29T02:02:32</setting>
    <setting id="startup.imagefolder" type="string"></setting>
    <setting id="skinshortcuts-widget-1" type="string">Addon</setting>
    <setting id="mpaa_country" type="string">France</setting>
    <setting id="OSD_Timeout" type="string">3</setting>
    <setting id="menuOnUpAction-plugin.video.sendtokodiU2P" type="string"></setting>
    <setting id="skinshortcuts-widget-6" type="string">Weather</setting>
    <setting id="homemenu.onup" type="string"></setting>
    <setting id="widgetEndRowAction-u2pplay-skodi" type="string">ActivateWindow(1132)</setting>
    <setting id="menuOnUpAction-31085" type="string"></setting>
    <setting id="widgetEndRowAction-weather" type="string"></setting>
    <setting id="widgetEndRowAction-accueil" type="string"></setting>
    <setting id="weatherclock" type="string">Small</setting>
    <setting id="script-skinviewtypes-hash" type="string">9953b77733d91cae2a51dde62a8d6a22</setting>
</settings>
